body {
	margin: 0;
	background: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}


header {
  background: #55d6aa;
  padding-left:0;
}
.column {
  float: left;
  width: 33.33%;
  padding-left: 225px;
}
.row {
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
h1 {
	width:100%;
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 15px;
	background-color: #FCF97A
	
}

h2{
	margin-left: 430px;
}

h5{
	font-size: 14px;	
	margin-left:0px;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
  background: 0;
  padding-right:185px;
}

nav ul {
  margin: 0;
  padding-bottom: 15px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 190px;
  padding-top: 18px;
  padding-left: 100px;
  padding-right: 125px
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}


nav a:hover::before {
  width: 100%;
}

	
</style>
</head>
<body>
